*.ac3
*.VOB
*.MKV
*.WAV
*.MP4
*.PNG
*.JPG
*.TIF
*.TIFF
Season 01/Deep Space Nine - S01E04 - A Man Alone/Deep Space Nine - S01E04 - A Man Alone.VOB.idx2
*.idx
*.ifo
*.d2v
*.log
vts_*
*_png
*_tiff
*_tif
wrk
*.srm